body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color:#009688
}

.modal{
    display: block;
}

#chat{
    height: 300px;
    overflow: auto;
}

img{
    width: 40px;
    height: auto;
}

input[type=submit]{
    float: right;
    margin-top: 50px;
    background-color:#009688 !important;
}

#usuarios{
    height: 350px;
    background-color: white;
}

#esteUsuario{
    width: auto;
}

#formularioMensaje{
    background-color: white;
}